# MySQL数据库的数据类型
- MySQL支持多种数据类型

## 常用的数据类型
- 整形
    - int 整形
    -  int(M) M表示预期值，与存储大小和数值范围无关（就是有zerofill零填充，会在左侧补零）
- 浮点型
    - float[(M, D)] 浮点型
        - salary float(6,2) 表示最多有6位，小数占2位，最大存储数据为9999.99
    - double 浮点型，小数
- 字符型
    - char(M) 固定长度的字符串类型
    - varchar(M) 可变长度的字符串类型
    - text 大的字符串类型，4G字符串
    - blob 字节类型
- 日期
    - date 日期类型， 表示年月日      YYYY-MM-DD           日期格式
    - time 时间类型， 时分秒          HH:mm:ss            时间格式
    - year 年份，年                 YYYY                 年份值
    - timestamp 年月日 时分秒，时间戳 YYYYMMDDhhmmss       2037年的某一时刻
    - datetime 年月日 时分秒         YYYY-MM-DD hh:mm:ss  日期格式 
- 注意：选择合适的数据类型是数据库优化的一部分， short it better !!!!!!

# MySQL数据库中的数据的使用

## SQL概述
- SQL：结构化查询语言，可以用于查询或修改关系数据库的语言
- SQL语言：数据库的核心语言，被ISO采纳为数据库语言的国际标准，几乎所有的数据库都支持SQL

## SQL组成
- DDL：数据定义语言
    - 用于管理和定义数据的对象，包括数据库，数据表等
    - create：创建数据库和表
    - drop：删除表对象
    - alter：修改表结果
- DML：数据操作语言
    - 用于操作数据库对象中所包含的数据
    - insert：添加数据
    - delete：删除数据
    - update：修改数据
- DQL：数据查询语言
    - 用于查询数据库对象中所包含的数据
    - select：查询数据
- TCL：事务控制语言
    - 管理数据库的语言，包括提交事务，事务回滚
    - commit：提交事务
    - rollback：事务回滚
    - savepoint：事务节点
- DCL：数据控制语言
    - 用来管理数据库，包括管理权限，数据更改
    - grant：授权
    - revoke：收回权限

### 数据定义语言 DDL
- 用于管理和定义数据的对象，包括数据库，数据表等
- 数据库的操作
    - 创建
        - 语法格式：
            - create database [if not exists] 数据库的名称 [character set [=] 编码名称];
    - 查询
        - 查看所有的数据库 ：
            - show databases;
        - 查询某个已经创建的数据库： 
            - show create database 数据库名称; 
    - 修改
        - 语法格式：
            - alter database [if not exists] 数据库的名称 [character set [=] 新的编码名称]; 
    - 删除
        - 语法格式：
            - drop database [if not exists] 数据库的名称;
- 数据表的操作
    - 创建
        - 使用一个数据库： use 数据库名称;
        - 查看当前正在使用的数据库： select database();
        - 创建数据表语法： create table 表名（字段名 字段类型，约束，字段名 字段类型，约束，。。。。。。);
    - 查询
        - 显示当前数据库中所有的数据表： show tables;
        - 查询指定的某张数据表的表结构： show columns from 表名;
        - 查询指定的某张数据表的表结构： desc 表名;
    - 修改
        - 修改表名
            - alter table 表名 rename [as|to] 新表名;
            - rename table 旧表名 to 新表名 [，旧表名 to 新表名，........];
        - 添加列
            - alter table 表名 add [columns] 列名 列定义 [first/after 列名]; (在[指定的列]后面添加新的列)
        - 修改列定义
            - alter table 表名 modify 列名 列定义 [first/after 列名]; (直接修改列的定义）
        - 修改列名
            - alter table 表名 change 旧的列名 新的列名 新的列定义 [first/after 列名];（修改列名以及列定义）
        - 删除列
            - alter table 表名 drop [columns] 列名;
    - 删除
        - drop table 表名;

### 数据操作语言 DML
- 用于操作数据库对象中所包含的数据
- 插入操作
    - insert [into] 表名 [(列名1, 列名2, .......)] values|value (数值1|表达式1, 数值2|表达式2,.......);
- 删除操作
    - delete from 表名 where 条件; [指定条件]删除所有记录
    - truncate table 表名;  会清空表中所有的数据
    - <<面试题>> delete 与 truncate有和区别？
        - delete： 一条一条删除，不会清空 auto_increment 记录数
        - truncate： 直接将表中的数据清空， auto_increment自增将被重置
- 修改操作
    - update 表名 set 列名1=数值1, 列名2=数值2,......where 条件; (注意尽量都带条件修改，不容易出问题)

#### 数据库交互

In [1]:
# 导入必要模块
import pandas as pd
from sqlalchemy import create_engine

# 初始化数据库连接
# 用户名root密码，端口3306 数据库名称
engine = create_engine('mysql+pymysql://root:llr123@localhost:3306/tlxy1')

# 查询语句
sql = """
    select * from teacher;
"""

df = pd.read_sql(sql, engine)
df

   id      name               note     sal  dname
0   1  zhangsan     zheng yi ge yi  7500.0  renli
1   2      lisi  zheng liang ge yi  6000.0  renli
2   3    wangwu    zheng san ge yi  8000.0  renli

### ***数据查询语言 DQL (重中之重)***
- 基本查询数据的语句： select * from 表名;
- 完整的语法格式：
    
        select 表达式1|字段,..... 
        [from 表名 where 条件] 
        [group by 列名] 
        [having 条件]
        [order by 列名 [asc|desc]]
        [limit 位置, 数量];

#### 普通查询
- 最简单的查询语句，是一个函数： select 查询表达式;
    - select databse();
    - select version();
    - select now();

#### 条件查询
- where 条件表达式, 支持运算符和函数
- MySQL支持的运算符如下：
    - =、  !=(<>)、  >、 >=、  <、  <=  
    - and、 or、 not 
    - is null、 is not null
    - between...and...       区间查询，多少到多少之间 
    - in(set)
    - like 通配符和占位符：%  _ (模糊查询)
        - %  表示0个或者多个字符
        - _  表示占位一个
        - 注意当需要转义时前面加反斜杠 \

#### 分组查询
- [group by 列名]  [having 条件]
- 一般情况 分组查询结合 聚合函数 一起使用
- 聚合函数就是 max(), min(), sum(), avg(), count() 等函数
- **记住，分组的正确使用方式，group by 后面没有出现的列名不能出现在 select 和 from 中间，虽然不报错，但是不是分组的正确使用方式**
- **注意，聚合函数中出现的列名 group by 没有也无所谓，不受上文条件的限制**
- 例子（只是举例）：select dname, avg(sal) from teacher group by dname; 
- select dname, avg(sal) from teacher group by dname having avg(sal)>7500;

#### 排序查询
- 语法格式： order by 列名  asc|desc 默认升序(asc)

#### 限制结果集数量的查询（分页）
- 语法格式：
    - limit n条数;------------从第一条开始读取n条数据（了解）
- 语法格式：
    - limit start开始下标索引, count条数; ---------------从起始位置start起取count条数据（起始位置从0开始）---推荐使用
- 分页公式：
    - **开始的下标索引(起始位置) = （当前页数-1）× 每页显示条数;**

#### 扩展
- 别名
    - 给查询的字段设置别名，同时也可以给表设置别名，通过关键字as进行设置（as可以有也可以没有，但是得加个引号防止出错 ‘’ ）

### 事务控制语言 TCL
- MySQL事务默认自动开启的。
- 在MySQL数据库中，只有使用Innodb数据库引擎的数据表或库才会支持事务。
- 通过事务来管理 insert， update，delete 语句。
- 事务必须满足4个条件（ACID）：
    - 原子性：不可分割，要么全部完成，要么都完不成不会结束在中间的某个环节，在执行的过程中，一旦出现错误/异常，会被回滚（Rollback）到事务开始前的状态，就像是这个事务从来没有执行过一样
    - 一致性：事务处理前后数据保持一致
    - 隔离性：事务处理必须是独立的彼此隔离
    - 持久性：事务对数据的修改被永久保存

#### 为什么使用事务？
- 银行转账：老王给大拿转账3万元
- 事务广泛使用：订单系统，银行系统等....

#### MySQL事务控制
- commit(提交)
- rollback(回滚)
- savepoint(事物节点)

#### **实战操作**
        mysql> create table student(
            -> id int,
            -> name varchar(32),
            -> age int,
            -> money double
            -> );
        insert student values (1, 'laowang', 18, 60000);

- 设置事务的提交方式：    set autocommit = false|true;
- 事务回滚：            rollback;
- 事务提交：            commit;
- 设置回滚的节点：       savepoint 节点名称;
- 回滚到具体的某个节点：  rollback to 节点名称;