# 层级索引（hierarchical indexing）

In [1]:
import numpy as np
import pandas as pd

## MultiIndex索引对象
- 打印这个Series的索引类型，显示是MultiIndex
- 直接将索引打印出来，可以看到有lavels,和labels两个信息。
- levels表示两个层级中分别有那些标签，labels是每个位置分别是什么标签。

In [2]:
s1 = pd.Series(np.random.randn(12), index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd',],
                                           [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]])
s1

a  0   -0.471603
   1   -2.708315
   2   -1.460336
b  0   -0.704617
   1    0.530904
   2    0.295281
c  0    1.413766
   1   -1.085041
   2    0.482237
d  0   -1.483884
   1   -1.885534
   2   -1.285298
dtype: float64

In [3]:
print(type(s1.index))

<class 'pandas.core.indexes.multi.MultiIndex'>

In [4]:
print(s1.index)

MultiIndex(levels=[['a', 'b', 'c', 'd'], [0, 1, 2]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]])

## 选取子集 
- 根据索引获取数据。因为现在有两层索引，当通过外层索引获取数据的时候，可以直接利用外层索引的标签来获取。
- 当要通过内层索引获取数据的时候，在list中传入两个元素，前者是表示要选取的外层索引，后者表示要选取的内层索引。

In [5]:
# 外层索引选取
s1['b']

0   -0.704617
1    0.530904
2    0.295281
dtype: float64

In [6]:
# 内层索引选取
s1[:, 2]

a   -1.460336
b    0.295281
c    0.482237
d   -1.285298
dtype: float64

In [7]:
s1['b', 2]

0.29528091640542836

## 交换分层顺序
- swaplevel() 
- .swaplevel()交换内层与外层索引。

In [8]:
# swaplevel() 
s1.swaplevel()

0  a   -0.471603
1  a   -2.708315
2  a   -1.460336
0  b   -0.704617
1  b    0.530904
2  b    0.295281
0  c    1.413766
1  c   -1.085041
2  c    0.482237
0  d   -1.483884
1  d   -1.885534
2  d   -1.285298
dtype: float64

## 交换并排序分层 
- sortlevel() 
- .sortlevel( )先对外层索引进行排序，再对内层索引进行排序，默认是升序。

In [9]:
# sortlevel() 注意只是排序，对外层索引进行排序，再对内层索引进行排序，默认是升序。
print(s1.sortlevel())b

a  0   -0.471603
   1   -2.708315
   2   -1.460336
b  0   -0.704617
   1    0.530904
   2    0.295281
c  0    1.413766
   1   -1.085041
   2    0.482237
d  0   -1.483884
   1   -1.885534
   2   -1.285298
dtype: float64

/var/sw/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level=...)

In [10]:
# 交换并排序分层
print(s1.swaplevel().sortlevel())

0  a   -0.471603
   b   -0.704617
   c    1.413766
   d   -1.483884
1  a   -2.708315
   b    0.530904
   c   -1.085041
   d   -1.885534
2  a   -1.460336
   b    0.295281
   c    0.482237
   d   -1.285298
dtype: float64

/var/sw/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level=...)

# Pandas统计计算和描述

In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], 
                  [np.nan, np.nan], [0.75, -1.3]],
                  index=list('abcd'), 
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

## 常用的统计计算 
- sum, mean, max, min…
- axis=0 按列统计，axis=1按行统计
- skipna 排除缺失值， 默认为True

In [13]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [14]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [15]:
# skipna=False 
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

## 常用的统计描述
- describe 产生多个统计数据
- 常用的统计描述方法
    - ???

In [16]:
# describe 查看汇总
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [17]:
# 返回每列的最大值所对应的行索引（默认axis=0, axis=1时对应的行列互换）
df.idxmax()

one    b
two    d
dtype: object

In [18]:
# 样本值的累计和！！！！
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [19]:
s1 = pd.Series(['a', 'a', 'b', 'c']*4)
print(s1)

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [20]:
print(s1.describe())

count     16
unique     3
top        a
freq       8
dtype: object